# general rules
*~
#*
.#*
*#
log/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Profiler
gmon.out


# for autoconf
*/autom4te.cache/*

# for NEURON intermediate files
*.lo
*.la
*.deps/
*.libs/
exec/
prof/
Makefile
special
stamp-*

specials/x86_64/
specials/sparc64/

nrn-7.?/bin/hel2mos1.sh
nrn-7.?/bin/mos2nrn2.sh
nrn-7.?/bin/neurondemo
nrn-7.?/bin/nrngui
nrn-7.?/bin/nrniv_makefile
nrn-7.?/bin/nrnivmodl
nrn-7.?/bin/nrnmech_makefile
nrn-7.?/bin/nrnoc_makefile
nrn-7.?/bin/nrnocmodl
nrn-7.?/config.h
nrn-7.?/config.log
nrn-7.?/config.status
nrn-7.?/libtool
nrn-7.?/nmodlconf.h
nrn-7.?/nrnconf.h
nrn-7.?/nrnrpm.spec
nrn-7.?/share/lib/nrn.defaults
nrn-7.?/src/e_editor/hoc_ed
nrn-7.?/src/ivoc/ivoc
nrn-7.?/src/ivos/ivstream.h
nrn-7.?/src/ivos/stamp-h11
nrn-7.?/src/memacs/memacs
nrn-7.?/src/modlunit/modlunit
nrn-7.?/src/mswin/nrnsetupmingw.nsi
nrn-7.?/src/neuronmusic/setup.py
nrn-7.?/src/nmodl/nocmodl
nrn-7.?/src/nrncvode/nrnneosm.h
nrn-7.?/src/nrncvode/stamp-h10
nrn-7.?/src/nrniv/nrniv
nrn-7.?/src/nrnjava/njconf.h
nrn-7.?/src/nrnjava/stamp-h9
nrn-7.?/src/nrnoc/nrnconfigargs.h
nrn-7.?/src/nrnoc/nrnoc
nrn-7.?/src/nrnoc/stamp-h4
nrn-7.?/src/nrnoc/temp
nrn-7.?/src/nrnpython/nrnpython_config.h
nrn-7.?/src/nrnpython/setup.py
nrn-7.?/src/nrnpython/stamp-h13
nrn-7.?/src/oc/nrnmpiuse.h
nrn-7.?/src/oc/nrnrtuse.h
nrn-7.?/src/oc/oc
nrn-7.?/src/oc/stamp-h5
nrn-7.?/src/oc/stamp-h6
nrn-7.?/src/oc/stamp-h7
nrn-7.?/src/parallel/bbsconf.h
nrn-7.?/src/parallel/stamp-h8
nrn-7.?/src/sundials/stamp-h12
nrn-7.?/src/sundials/sundials_config.h
nrn-7.?/src/uxnrnbbs/mos2nrn
nrn-7.?/src/uxnrnbbs/mos2nrn.h

nrn-7.?/src/nrnoc/apcount.c
nrn-7.?/src/nrnoc/exp2syn.c
nrn-7.?/src/nrnoc/expsyn.c
nrn-7.?/src/nrnoc/feature.c
nrn-7.?/src/nrnoc/hh.c
nrn-7.?/src/nrnoc/intfire1.c
nrn-7.?/src/nrnoc/intfire2.c
nrn-7.?/src/nrnoc/intfire4.c
nrn-7.?/src/nrnoc/netstim.c
nrn-7.?/src/nrnoc/oclmp.c
nrn-7.?/src/nrnoc/passive.c
nrn-7.?/src/nrnoc/pattern.c
nrn-7.?/src/nrnoc/ppmark.c
nrn-7.?/src/nrnoc/stim.c
nrn-7.?/src/nrnoc/svclmp.c
nrn-7.?/src/nrnoc/syn.c
nrn-7.?/src/nrnoc/vclmp.c
nrn-7.?/src/nrnoc/xmech.c
nrn-7.?/bin/bbswork.sh

# exception for NEURON
!nrnunits.lib
